<% subtitle ||= nil %>

<div class="section-list-header">
  <div class="left">
    <%= "<h6>#{subtitle}</h6>" if subtitle %>
    <h2 class="font-bold"><%= title %></h2>
  </div>
  <div class="right">
    <% buttons.each do |btn| %>
      <%= btn %>
    <% end %>
  </div>
</div>
