// Define fonts for body and headers
// * fonts loaded in asset pipeline / but called here *
$body-font: "GT Walsheim", "Helvetica", "sans-serif";
$headers-font: "GT Walsheim Condensed", "Helvetica", "sans-serif";

$font: "GT Walsheim", "Helvetica", "sans-serif";
$font-condensed: "GT Walsheim Condensed", "Helvetica", "sans-serif";
