// Define variables for your color scheme

// For example:
$red: #FF4C4C;
$blue: #36CBF2;
$yellow: #FFC14C;
$orange: #FFB03C;
$green: #86D970;
$purple: #9252F7;
$gray: #0E0000;
$light-gray: #F4F4F4;


$primary: #ff660a;
$primary_light: #fff4df;
$secondary: #ffb41d;

// blacks
$black: black;
$black90: #191919;
$black80: #333333;
$black70: #4C4C4C;
$black60: #666666;
$black50: #7F7F7F;
$black40: #999999;
$black30: #B2B2B2;
$black20: #CCCCCC;
$black10: #E5E5E5;
$black5: #F2F2F2;
$black2: #F9F9F9;
$black1: #fefefe;
$white: white;
$white50: #ffffff80;
$white20: #ffffff45;
$off_white: #fffefc;

$error-red: #ff4b4b;
$error-red-light: #fff0f0;

$success-green: #6AC850;
$success-green-light: #E7F7E2;

$info-yellow: #FFC14C;
$info-yellow-light: #FFF3DB;


