body {
  background: white;
}

h1, h2 {
  font-weight: 600;
  font-family: $font;
  color: $black80;
}

h3, h4 {
  font-weight: 500;
  font-family: $font;
  color: $black80;
}

h5, h6 {
  font-weight: 400;
  margin: 0px;
  font-family: $font-condensed;
  color: $black80;
}

p {
  font-weight: 300;
  margin: 0px;
  font-family: $font-condensed;
  color: $black80;
}

h6 {
  color: $black50;
  font-size: 0.9rem;
}
