#tasks {
  outline: none;
}


.task-container {
  padding-bottom: 5px;
  outline: none;

  .task {
    background: white;
    padding: 10px;
    padding-left: 45px;
    padding-top: 13px;
    border-radius: 22px;
    box-shadow: $shadow;
    cursor: pointer;
    position: relative;

    .checkbox {
      height: 30px;
      width: 30px;
      border-radius: 20px;
      background: $white50;
      margin-right: 10px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 10px;
      left: 10px;

      svg {
        height: 15px;
        stroke-width: 3px;
        stroke: transparent;
        transition: $transition-short;
        opacity: 0;
      }
    }

    h5 {
      color: white;
      font-family: $font;
      letter-spacing: -0.5px;
    }

    .extra-info {
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 5px;
    }

    .drag-handle {
      width: 30px;
      height: 30px;
      background: transparent;
      border-radius: 15px;
      transition: $transition-short;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 10px;
      right: 10px;

      svg {
        height: 20px;
        width: 20px;
        stroke: $white20;
      }

      &:hover {
        background: $white50;

        svg {
          stroke: $white;
        }
      }
    }
  }

  .task.complete {
    .checkbox {
      background: white;

      svg {
        opacity: 1;
        stroke-width: 3px;
        stroke: $black80;
      }
    }
  }
}

.task-container.draggable-over {
  .task {
    opacity: 0.2;
    border: none;

    * {
      opacity: 0;
    }
  }
}
