#tasks {
  outline: none;
}


.task-container {
  padding-bottom: 5px;
  outline: none;
  position: relative;

  .checkbox {
    height: 30px;
    width: 30px;
    border-radius: 20px;
    background: $black5;
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    left: 10px;

    svg {
      height: 15px;
      stroke-width: 3px;
      stroke: transparent;
      transition: stroke $transition-short;
      opacity: 0;
    }
  }

  .extra-info {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    bottom: 15px;
    right: 10px;
  }

  .extra-info > * {
    margin-left: 5px;
  }

  .task {
    background: white;
    padding: 10px;
    padding-left: 45px;
    padding-top: 13px;
    padding-bottom: 50px;
    border-radius: 15px;
    border: 1px solid $black5;
    cursor: pointer;
    position: relative;

    h5 {
      font-family: $font;
      letter-spacing: -0.5px;
    }
  }
}

.task-container.complete {
  .checkbox {
    background: $success-green-light;
    border-color: $success-green-light;
    box-shadow: none!important;

    svg {
      opacity: 1;
      stroke-width: 3px;
      stroke: $success-green-dark;
    }
  }
}

.task-container.draggable-mirror {
  z-index: 1000;

  .task {
    transition: box-shadow $transition-short, width $transition-short;
    box-shadow: $shadow-high;
    width: calc(100% + 10px);
  }

  .extra-info {
    right: 0px;
  }
}

.task-container.draggable-over {
  .task {
    border: none;
    background: $black5;

    * {
      opacity: 0;
    }
  }

  .checkbox, .extra-info, .priority {
    opacity: 0;
  }
}

.priority {
  position: absolute;
  top: 12px;
  right: 10px;
  padding: 4px;
  height: 1.5rem;
  width: 1.5rem;
  background: transparent;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
   stroke: $black20;
   fill: $black5;
  }
}

[data-user-task-priority-value="true"] {
  .priority {
    svg {
     stroke: $info-yellow;
     fill: $info-yellow;
    }
  }
}
