#tasks {
  outline: none;
}


.task-container {
  padding-bottom: 5px;
  outline: none;
  position: relative;

  .checkbox {
    height: 30px;
    width: 30px;
    border-radius: 20px;
    background: $black5;
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    left: 10px;

    svg {
      height: 15px;
      stroke-width: 3px;
      stroke: transparent;
      transition: $transition-short;
      opacity: 0;
    }
  }

  .extra-info {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    bottom: 15px;
    right: 10px;
  }

  .extra-info > * {
    margin-left: 5px;
  }

  .task {
    background: white;
    padding: 10px;
    padding-left: 45px;
    padding-top: 13px;
    padding-bottom: 40px;
    border-radius: 10px;
    border: 1px solid $black5;
    cursor: pointer;
    position: relative;


    h5 {
      font-family: $font;
      letter-spacing: -0.5px;
    }

    // .drag-handle {
    //   width: 30px;
    //   height: 30px;
    //   background: transparent;
    //   border-radius: 15px;
    //   transition: $transition-short;
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    //   position: absolute;
    //   top: 10px;
    //   right: 10px;

    //   svg {
    //     height: 20px;
    //     width: 20px;
    //     stroke: $black10;
    //   }

    //   &:hover {
    //     background: $black10;

    //     svg {
    //       stroke: $black60;
    //     }
    //   }
    // }
  }
}

.task-container.complete {
  .checkbox {
    background: $success-green-light;
    border-color: $success-green-light;
    box-shadow: none!important;

    svg {
      opacity: 1;
      stroke-width: 3px;
      stroke: $success-green-dark;
    }
  }
}

.task-container.draggable-over {
  .task {
    border: none;
    background: $black5;

    * {
      opacity: 0;
    }
  }

  .checkbox, .extra-info {
    opacity: 0;
  }
}

.draggable--original {
  z-index: 1000
}
