.banner-card {
  height: 200px;
  width: 100%;
  background: $black5;
  border-radius: 25px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 30px;

  h6 {
    color: $black80;
  }

  h3 {
    color: $primary;
  }
}

#task-lists {
  display: flex;
  overflow-x: scroll;
}
