<%= render "components/header", header: "Users", back_link: tasks_path(date: @task.start_date.to_s), right: [{icon: 'plus', link: new_task_user_task_path(@task), classes: ''}] %>

<% @user_tasks.each do |user_task| %>
  <% profile = user_task.profile %>
  <% options = [
    { text: 'See profile', url: profile_path(profile) },
    { text: 'Remove user', url: user_task_path(user_task), method: 'delete', confirm_message: "Are you sure you want to remove #{profile.full_name}" }] %>

  <div data-controller="options" data-action="click->options#openOptions" data-options-header-value="<%= profile.full_name %>" data-options-actions-value="<%= options.to_json %>">
    <%= render 'components/list_item',
      link: profile_path(profile),
      image: render('components/avatars/avatar', profile: profile, size: "medium"),
      title: profile.full_name
    %>
  </div>
<% end %>
