.avatar {
  @apply box-content rounded-full object-cover object-center overflow-hidden bg-gray-100;

  img {
    @apply min-h-full min-w-full;
  }
}

.avatar-small {
  @apply h-5 w-5;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-medium {
  @apply h-10 w-10;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-large {
  @apply h-10 w-10;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-stack {
  display: flex;
  align-items: center;
  justify-content: center;

  .avatar-small {
    margin-left: -8px;
  }

  .avatar-medium {
    margin-left: -15px;
  }

  .avatar-large {
    margin-left: -30px;
  }

  .avatar:first-of-type {
    margin: 0px!important;
  }

  .more-than-three {
    height: 20px;
    padding: 3px 7px;
    background: $white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    h6 {
      letter-spacing: -0.5px;
      font-weight: 300;
      font-family: $font;
      font-size: 0.6rem;
      color: $black20;
      margin-bottom: 1px;
    }
  }
}
