button, .btn {
  @apply flex items-center justify-center rounded-lg px-1.5;

  svg {
    height: 1rem;
    display: inline;
    width: 1rem;
    margin-right: 0.3rem;
    margin-bottom: 1px;
  }

  span#active {
    display: none;
  }
}

button.active, .btn.active {
  span {
    display: none;
  }

  span#active {
    display: inline;
  }
}

.icon-btn {
  background: $black5;
  transition: $transition-short background;
  border-radius: 10px;
  height: 34px;
  width: 34px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  svg {
    width: 18px;
    height: 18px;
    stroke-width: 2px;
    stroke: $black30;
    fill: transparent;
    transition: stroke $transition-short, fill $transition-short;
  }

  .icon-tabler-plus {
    stroke-width: 2.5px;
  }
}

.icon-btn.icon-btn-primary, .btn.btn-primary {
  @apply bg-primary text-white;

  svg {
    stroke: white;
  }

  &:hover {
    @apply bg-primary-dark;
  }
}

.icon-btn.bg-transparent {
  background: transparent;
  box-shadow: none;

  svg {
    stroke: $black80;
  }

  &:hover {
    background: $black10;
    box-shadow: none;
  }
}

.icon-btn.active {
  background: $primary-light;

  svg {
    stroke: $primary;
  }
}
