.section-list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;

  .left {
    h2 {
      font-size: 1.4rem;
      color: $black80;
    }
  }
}

.section-header {
  @apply text-gray-300 uppercase tracking-wider text-xs mb-2;
}
