<% classes ||= "" %>
<% size ||= "medium" %>
<% avatar_count ||= 3 %>

<div class="avatar-stack">
  <% profiles.first(avatar_count).each_with_index do |profile, index| %>
    <%= render "components/avatars/avatar", profile: profile, size: size, classes: classes, style: "z-index: #{profiles.length - index}" %>
  <% end %>
  <% if profiles.length > 3 %>
    <div class="more-than-three">
      <h6>+<%= profiles.length - 3 %> others</h6>
    </div>
  <% end %>
</div>
