.task-list-badge {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;

  h4 {
    font-size: 0.7rem;
    text-align: center;
    margin: 0px;
    padding-left: 4px;
  }
}
