<div class="task-list-card" style="margin-right: 5px;">
  <div class="emoji" style="background: <%= task_list.color %>;">
    <h4><%= task_list.emoji %></h4>
  </div>
  <h4 class="task-list-name m-0"><%= task_list.name.capitalize %></h4>
</div>
