// ----- GT Walsheim Pro COndensed -----
@font-face {
  font-family: "GT Walsheim Condensed";
  src: asset-url('GT-Walsheim-Pro-Condensed-Light.woff2') format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "GT Walsheim Condensed";
  src: asset-url('GT-Walsheim-Pro-Condensed-Regular.woff2') format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "GT Walsheim Condensed";
  src: asset-url('GT-Walsheim-Pro-Condensed-Medium.woff2') format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "GT Walsheim Condensed";
  src: asset-url('GT-Walsheim-Pro-Condensed-Bold.woff2') format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "GT Walsheim Condensed";
  src: asset-url('GT-Walsheim-Pro-Condensed-Black.woff2') format("woff2");
  font-weight: 800;
}

// ----- GT Walsheim Pro -----
@font-face {
  font-family: "GT Walsheim";
  src: asset-url('GT-Walsheim-Pro-Regular.woff2') format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "GT Walsheim";
  src: asset-url('GT-Walsheim-Pro-Medium.woff2') format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "GT Walsheim";
  src: asset-url('GT-Walsheim-Pro-Bold.woff2') format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "GT Walsheim";
  src: asset-url('GT-Walsheim-Pro-Black.woff2') format("woff2");
  font-weight: 800;
}

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
