<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>

  <body>
    <div class="body" style="padding-bottom: 120px">
      <%= yield %>
    </div>
    <%= render('shared/navbar') if user_signed_in? %>
  </body>
</html>
