<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>

  <body>
    <%= render('shared/navbar') if user_signed_in? %>
    <div class="body">
      <%= yield %>
    </div>
  </body>
</html>
