<% classes ||= "" %>

<div class="w-6 h-6 bg-transparent hover:bg-gray-100 rounded-full border-dashed border border-gray-300 flex justify-center items-center <%= classes %>">
  <%= render "icons/#{icon}", classes: "w-3/4 h-3/4 stroke-current text-gray-400" %>
</div>
